/* @font-face {
	font-family: "Inter-Regular";
	src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	--text: #333333;
	--bleu: #1a237e;
	--white: #ffffff;
	--grey-light: #fcfcfc;
	--grey: #f4f4f4;
	--purple-light: #e8eaf6;
}

body {
	background: var(--grey-light);
	font-family: "Lato", sans-serif;
	color: var(--text);
}

h1,
h2,
h4,
h5,
h6 {
	font-family: "Inter", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

h3 {
	font-size: 1.3rem;
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

.btn-outline {
	border: 1.5px solid var(--bleu);
	color: var(--bleu);
	background: transparent;
	border-radius: 10px;
	padding: 1rem;
}

.txt-btn-center {
	text-align: center;
	font-size: 0.813rem;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.separateur,
.separateur-white {
	width: 50px;
	height: 4px;
	border-radius: 3px;
	background: var(--bleu);
	margin: 1rem 0;
}
.separateur-white {
	background: var(--white);
	margin: 1rem auto;
}

p {
	line-height: 1.6;
	font-weight: 400;
}

.bg-grey {
	background: var(--grey);
}

/* Margin */
.m-t-1 {
	margin-top: 1rem;
}
.m-b-1 {
	margin-bottom: 1rem;
}
.m-t-2 {
	margin-top: 2rem;
}
.m-b-2 {
	margin-bottom: 2rem;
}
.p-t-1 {
	padding-top: 1rem;
}
.p-b-1 {
	padding-bottom: 1rem;
}
.p-t-2 {
	padding-top: 2rem;
}
.p-b-2 {
	padding-bottom: 2rem;
}
.p-t-3 {
	padding-top: 3rem;
}
.p-b-3 {
	padding-bottom: 3rem;
}
.p-t-4 {
	padding-top: 4rem;
}
.p-b-4 {
	padding-bottom: 4rem;
}

/* Navigation */
nav {
	background: var(--white);
	padding: 1.5rem;
}

.content {
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.logo,
.logo a,
.navLink {
	display: flex;
	align-items: center;
}

.logo a {
	width: 150px;
}

.logo a img {
	width: 100%;
}

.navLink ul {
	display: flex;
	align-items: center;
}

.navLink ul li a {
	/* margin: 2rem; */
	padding: 0.5rem 1rem;
	font-weight: 700;
	border-radius: 10px;
}

.navLink ul li:last-child a {
	margin: 0.5rem;
}

.navLink ul li:nth-child(3) a {
	margin-right: 1.1rem;
}

.navLink ul li a:focus,
.navActive {
	background: var(--purple-light);
}

.navLink ul li:nth-child(4) a:focus,
.navLink ul li:nth-child(5) a:focus {
	background: inherit;
}

.contact {
	background: var(--bleu);
	color: var(--white);
	border-radius: 10px;
	padding: 1rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* fin Navigation */

/* Footer */

.footer {
	background: var(--bleu);
	color: var(--grey-light);
}

.flex-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-footer {
	display: flex;
}
.title-footer p {
	font-size: 2rem;
	font-weight: 700;
}
.pipe {
	margin: 0 1rem;
	font-size: 1.3rem;
	font-weight: 700;
}

.logo-footer {
	width: 150px;
}
.logo-footer img {
	width: 100%;
}

.content-link-contact {
	padding-top: 2rem;
	display: flex;
}

.content-link,
.content-contact {
	width: 100%;
}

.content-link ul li:not(:last-child),
.content-contact ul li:not(:last-child) {
	margin-bottom: 3rem;
}

.content-contact ul li img {
	width: 10px;
	margin-right: 0.5rem;
}

.content-contact ul li:nth-child(2) img {
	width: 13px;
}

.content-contact ul li:nth-child(3) img {
	width: 16px;
}

.footer .container .section-1:nth-child(2) {
	padding-bottom: 3rem;
}

.copyright {
	padding: 1rem;
}

.copyright p {
	text-align: center;
}

/* Fin - Footer */

/* RESPONSIVE */
/* 1148px */
@media screen and (max-width: 1148px) {
	.container {
		width: 100%;
	}
}
/* 768px */
@media screen and (max-width: 768px) {
	button {
		width: 100%;
	}
	.contact {
		box-shadow: none;
	}

	.flex-footer,
	.title-footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.title-footer {
		order: 2;
	}

	.title-footer h2 {
		margin-bottom: 1rem;
	}

	.pipe {
		display: none;
	}

	.logo-footer {
		margin-bottom: 3rem;
		order: 1;
	}

	.content-link-contact {
		flex-direction: column;
	}

	.content-contact {
		margin-top: 3rem;
	}
}
